/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(230, 176, 255);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(118, 46, 133);
  color: white;
}

#content-wrapper {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#content-wrapper-header {
  background-color: #990099;
  text-align: center;
}

#content-left {
  display: inline-block;
  background-color: #cc99ff;
  align-content: right;
}

#content-right {
  display: inline-block;
  vertical-align: top;
  background-color: #a276c4;
  align-content: left;
}

html, body {
  height: 100%;
}

#comments-display-wrapper {
  margin: auto;
  width: 40%;
  padding: 10px;
  background-color: #beeff3;
}

#comments-display {
  display: inline-block;
  align-content: right;
}

#comments-options {
  display: inline-block;
  align-content: left;
}

#new-comment {
  margin: auto;
  width: 40%;
  align-content: center;
}

/* Start of CSS relating to map.js */
#map {
  height: 90%;
}

#map-header {
  text-shadow: 2px 2px 5px rgb(235, 212, 131);
  text-align: center;
  background-color: white;
}

#sobaInfoHeading {
  background: rgba(126, 187, 224, 0.3);
  text-align: center;
}

#sobaInfoContent {
  text-align: center;
}
/* End of CSS relating to map.js */